<div [ngSwitch]="navUrlType">
    <!-- this navbar will appear on default -->
    <nav class="nav-bar" *ngSwitchCase="'default'">
        <div class="logo"><a routerLink=""><img
                    src="https://as1.ftcdn.net/v2/jpg/02/98/18/60/1000_F_298186090_Rimyxol4jsYvYbQg1i6sttQ5N3oebXgt.jpg"
                    alt="eShop"></a></div>
        <div class="search-container">
            <input type="text" placeholder="search product" #searchBox (keyup)="searchProduct($event)"
                (blur)="blankSearchField()">
            <button (click)="openSearch(searchBox.value)">Search</button>
        </div>
        <div class="search-products-list" *ngIf="search_product_result">
            <ul *ngFor="let item of search_product_result">
                <li (mousedown)="redirectToProductDetailPage(item.id)">{{item.productname}}</li>
            </ul>
        </div>
        <ul class="menu-item">
            <li><a routerLink="seller">sign in</a></li>
            <li>cart(0)</li>
        </ul>
    </nav>

    <!-- this navbar will appear after seller login -->
    <nav class="nav-bar" *ngSwitchCase="'seller'">
        <h1 class="logo"><a routerLink="seller-homepage">eShop</a></h1>
        <ul class="menu-item">
            <li> <a routerLink="seller-add-product">Add Item</a> </li>
            <li> {{seller_name |titlecase}} </li>
            <li><a routerLink="">Logout</a></li>
        </ul>
    </nav>
</div>