<div [ngSwitch]="navUrlType">
    <!-- this navbar will appear on default -->
    <nav class="nav-bar" *ngSwitchCase="'default'">
        <div class="logo"><a routerLink=""> eShop
                <!-- <img
                    src="https://as1.ftcdn.net/v2/jpg/02/98/18/60/1000_F_298186090_Rimyxol4jsYvYbQg1i6sttQ5N3oebXgt.jpg"
                    alt="eShop"> -->
            </a></div>
        <div class="search-container">
            <input type="text" placeholder="search product" #searchBox (keyup)="searchProduct($event)"
                (blur)="blankSearchField()">
            <button (click)="openSearch(searchBox.value)">Search</button>
        </div>
        <div class="search-products-list" *ngIf="search_product_result">
            <ul *ngFor="let item of search_product_result">
                <li (mousedown)="redirectToProductDetailPage(item.id)">{{item.productname}}</li>
            </ul>
        </div>
        <div class="menu-item">
            <div class="signin" (click)="openSignInPopup()">
                <a><fa-icon [icon]="loginIcon"></fa-icon> sign
                    in</a>
            </div>
            <div class="cart"><a href="">Cart(0)</a> </div>
        </div>
        <div class="signin-option-list" *ngIf="signinPopup">
            <ul>
                <li><a routerLink="user-login">Buyer</a></li>
                <li><a routerLink="seller">Seller</a></li>

            </ul>
        </div>
    </nav>

    <!-- this navbar will appear after seller login -->
    <nav class="nav-bar" *ngSwitchCase="'seller'">
        <h1 class="logo"><a routerLink="seller-homepage">eShop</a></h1>
        <div class="menu-item">
            <div class="signin">
                <a routerLink="seller-add-product">Add Item</a>
            </div>
            <div class="cart"><a>{{seller_name |titlecase}}</a> </div>
            <div class="cart"><a routerLink="">Logout</a> </div>

        </div>
    </nav>
</div>