<!-- this form is for add product from seller -->
<div class="addProduct">
    <h2 style="text-align: center;">Update Product Here</h2>
    <h5 style="text-align: center; color: green;"> {{message}} </h5>
    <form class="forms" #updateProductForm="ngForm">
        <input type="text" class="form-input" name="productname" placeholder="enter product name"
            ngModel="{{recievied_product_data_from_api?.productname}}">
        <input type="text" class="form-input" name="category" placeholder="add category"
            ngModel="{{recievied_product_data_from_api?.category}}">
        <input type="text" class="form-input" name="price" placeholder="Product Price"
            ngModel="{{recievied_product_data_from_api?.price}}">
        <input type="file" class="form-input" name="image" placeholder="Product Price"
            ngModel="{{recievied_product_data_from_api?.image}}">
        <button class="form-input form-button" (click)="updateProduct(updateProductForm.value)">Add</button>
        <button class="form-input form-button">Reset</button>
    </form>
</div>