<!-- this form is for seller signup -->
<div class="seller-auth">
    <div class="signup">
        <h1 style="text-align: center;">Seller Signup</h1>
        <form class="forms" #sellerSignupForm="ngForm" (ngSubmit)="sellerSignup(sellerSignupForm.value)">
            <input type="text" class="form-input" name="username" placeholder="enter name" ngModel>
            <input type="text" class="form-input" name="email" placeholder="enter your email" ngModel>
            <input type="text" class="form-input" name="phone" placeholder="enter mobile number" ngModel>
            <input type="text" class="form-input" name="password" placeholder="password" ngModel>
            <button class="form-input form-button">Signup</button>
        </form>
    </div>
</div>

<!-- this form is for seller login -->
            <div class="seller-auth">
                <div class="signup">
                    <h1 style="text-align: center;">Seller Login</h1>
                    <form class="forms" #sellerLoginForm="ngForm" (ngSubmit)="sellerLoginup(sellerLoginForm.value)">
                        <input type="text" class="form-input" name="email" placeholder="enter your email" ngModel>
                        <input type="text" class="form-input" name="password" placeholder="password" ngModel>
                        <button class="form-input form-button">Login</button>
        </form>
    </div>
</div>