body {
  margin: 0px;
}

.forms {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 5px gray;
}

.form-input {
  margin-top: 7px;
  height: 40px;
}

.form-input::placeholder {
  padding-left: 5px;
}

.form-button {
  font-weight: bold;
  font-size: 15px;
}

.account-link {
  margin: auto;
  height: 20px;
  text-align: center;
  margin-top: 7px;
}

.account-link a {
  color: black;
  margin-left: 5px;
}

.sidebar {
  border: solid 1px red;
  display: flex;
  float: left;
  width: 20%;
  height: 1000px;
}

.product-container {
  border: solid 1px brown;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 79.8%;
}

.product-list {
  border: solid 1px yellow;
  display: flex;
  flex-direction: column;
  float: right;
  height: 300px;
}

.product-img img {
  border: solid 1px green;
  height: 200px;
  width: 200px;
}

.product-name {
  border: solid 1px pink;
  height: 50px;
  width: 200px;
  padding-left: 5px;
}

.product-price {
  border: solid 1px blue;
  height: 50px;
  width: 200px;
  padding-left: 5px;
}

.action button {
  border: solid 1px orange;
  height: 40px;
  width: 200px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}