<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="https://www.reliancedigital.in/medias/Laptops-DIS-Carousel-Banner-Desktop.jpg?context=bWFzdGVyfGltYWdlc3w5MDE3OHxpbWFnZS9qcGVnfGltYWdlcy9oODcvaGJlLzk5NTA0NTAxNTU1NTAuanBnfDQxNDkwNGVjMzRkZDVmYThkMDIxYmZlODA0MGU0ODM2NmMxOTRhY2NjZDhjNzkwM2RiZWRiOWI2MTkzOWU2YTI"
                alt="">
        </div>
        <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="https://www.reliancedigital.in/medias/Printer-Monitors-DIS-Carousel-Banner-Desktop.jpg?context=bWFzdGVyfGltYWdlc3w5Mjk3M3xpbWFnZS9qcGVnfGltYWdlcy9oYzEvaGFmLzk5NTA0NTAyODY2MjIuanBnfGYwNjVlYWJhMWI3ZTliN2E4ZTIxZTE1Nzg2Y2FhNzAxMWY0ZmM1MTRhYTM5YzU2NmQ4ZmEwM2Y2YmY1MjFkYmE"
                alt="">
        </div>
        <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="https://www.reliancedigital.in/medias/Wearables-DIS-Carousel-Banner-Desktop.jpg?context=bWFzdGVyfGltYWdlc3w5MzI0NHxpbWFnZS9qcGVnfGltYWdlcy9oZjAvaDc5Lzk5NTA0NDk3NjIzMzQuanBnfDI4ZmZmOTBlMTdkZWMwNmY5MzMxNDllNWI2YjQ1NzFlMTg2ZmQyNGQxODdlMzQwMjY4YmI0MjAyNjY1Zjk0NTI"
                alt="">
        </div>
        <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
    </ng-template>
</ngb-carousel>
<!-- this section is for latest mobile  -->
<div class="product-list-wrapper">
    <div class="heading">Latest Smartphones</div>
    <div class="row">
        <div class="col-sm-3">
            <div class="home-product-list">
                <div class="home-product-img">Image</div>
                <div class="home-product-name">Mobile</div>
                <div class="home-product-price">price</div>
                <div class="home-add-cart"> <button>Add to cart</button></div>
            </div>
        </div>
    </div>
</div>
<!-- this section is for latest Televisons  -->
<div class="product-list-wrapper">
    <div class="heading">Latest Televisons</div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <div class="home-product-list">
                <div class="home-product-img">Image</div>
                <div class="home-product-name">Televisons</div>
                <div class="home-product-price">price</div>
                <div class="home-add-cart"> <button>Add to cart</button></div>
            </div>
        </div>
    </div>
</div>
<!-- this section is for latest Laptops  -->
<div class="product-list-wrapper">
    <div class="heading">Latest Laptops</div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <div class="home-product-list">
                <div class="home-product-img">Image</div>
                <div class="home-product-name">Laptops</div>
                <div class="home-product-price">price</div>
                <div class="home-add-cart"> <button>Add to cart</button></div>
            </div>
        </div>

    </div>
</div>