<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="Random first slide" />
        </div>
        <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[1]" alt="Random second slide" />
        </div>
        <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide" />
        </div>
        <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
    </ng-template>
</ngb-carousel>
<hr>
<!-- this section is for latest mobile  -->
<div class="product-list-wrapper">
    <div class="heading">Latest Smartphones</div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <div class="home-product-list">
                <div class="home-product-img">Image</div>
                <div class="home-product-name">Mobile</div>
                <div class="home-product-price">price</div>
                <div class="home-add-cart"> <button>Add to cart</button></div>
            </div>
        </div>
        <!--  -->
        <div class="col-sm-3">
            <div class="home-product-list">
                <div class="home-product-img">Image</div>
                <div class="home-product-name">Mobile</div>
                <div class="home-product-price">price</div>
                <div class="home-add-cart"> <button>Add to cart</button></div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="home-product-list">
                <div class="home-product-img">Image</div>
                <div class="home-product-name">Mobile</div>
                <div class="home-product-price">price</div>
                <div class="home-add-cart"> <button>Add to cart</button></div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="home-product-list">
                <div class="home-product-img">Image</div>
                <div class="home-product-name">Mobile</div>
                <div class="home-product-price">price</div>
                <div class="home-add-cart"> <button>Add to cart</button></div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="home-product-list">
                <div class="home-product-img">Image</div>
                <div class="home-product-name">Mobile</div>
                <div class="home-product-price">price</div>
                <div class="home-add-cart"> <button>Add to cart</button></div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="home-product-list">
                <div class="home-product-img">Image</div>
                <div class="home-product-name">Mobile</div>
                <div class="home-product-price">price</div>
                <div class="home-add-cart"> <button>Add to cart</button></div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="home-product-list">
                <div class="home-product-img">Image</div>
                <div class="home-product-name">Mobile</div>
                <div class="home-product-price">price</div>
                <div class="home-add-cart"> <button>Add to cart</button></div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="home-product-list">
                <div class="home-product-img">Image</div>
                <div class="home-product-name">Mobile</div>
                <div class="home-product-price">price</div>
                <div class="home-add-cart"> <button>Add to cart</button></div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="home-product-list">
                <div class="home-product-img">Image</div>
                <div class="home-product-name">Mobile</div>
                <div class="home-product-price">price</div>
                <div class="home-add-cart"> <button>Add to cart</button></div>
            </div>
        </div>
        <!--  -->
    </div>
</div>
<!-- this section is for latest Televisons  -->
<div class="product-list-wrapper">
    <div class="heading">Latest Televisons</div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <div class="home-product-list">
                <div class="home-product-img">Image</div>
                <div class="home-product-name">Mobile</div>
                <div class="home-product-price">price</div>
                <div class="home-add-cart"> <button>Add to cart</button></div>
            </div>
        </div>
        <!--  -->
        <div class="col-sm-3">
            <div class="home-product-list">
                <div class="home-product-img">Image</div>
                <div class="home-product-name">Mobile</div>
                <div class="home-product-price">price</div>
                <div class="home-add-cart"> <button>Add to cart</button></div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="home-product-list">
                <div class="home-product-img">Image</div>
                <div class="home-product-name">Mobile</div>
                <div class="home-product-price">price</div>
                <div class="home-add-cart"> <button>Add to cart</button></div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="home-product-list">
                <div class="home-product-img">Image</div>
                <div class="home-product-name">Mobile</div>
                <div class="home-product-price">price</div>
                <div class="home-add-cart"> <button>Add to cart</button></div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="home-product-list">
                <div class="home-product-img">Image</div>
                <div class="home-product-name">Mobile</div>
                <div class="home-product-price">price</div>
                <div class="home-add-cart"> <button>Add to cart</button></div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="home-product-list">
                <div class="home-product-img">Image</div>
                <div class="home-product-name">Mobile</div>
                <div class="home-product-price">price</div>
                <div class="home-add-cart"> <button>Add to cart</button></div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="home-product-list">
                <div class="home-product-img">Image</div>
                <div class="home-product-name">Mobile</div>
                <div class="home-product-price">price</div>
                <div class="home-add-cart"> <button>Add to cart</button></div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="home-product-list">
                <div class="home-product-img">Image</div>
                <div class="home-product-name">Mobile</div>
                <div class="home-product-price">price</div>
                <div class="home-add-cart"> <button>Add to cart</button></div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="home-product-list">
                <div class="home-product-img">Image</div>
                <div class="home-product-name">Mobile</div>
                <div class="home-product-price">price</div>
                <div class="home-add-cart"> <button>Add to cart</button></div>
            </div>
        </div>
        <!--  -->
    </div>
</div>
<!-- this section is for latest Laptops  -->
<div class="product-list-wrapper">
    <div class="heading">Latest Laptops</div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <div class="home-product-list">
                <div class="home-product-img">Image</div>
                <div class="home-product-name">Mobile</div>
                <div class="home-product-price">price</div>
                <div class="home-add-cart"> <button>Add to cart</button></div>
            </div>
        </div>
        <!--  -->
        <div class="col-sm-3">
            <div class="home-product-list">
                <div class="home-product-img">Image</div>
                <div class="home-product-name">Mobile</div>
                <div class="home-product-price">price</div>
                <div class="home-add-cart"> <button>Add to cart</button></div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="home-product-list">
                <div class="home-product-img">Image</div>
                <div class="home-product-name">Mobile</div>
                <div class="home-product-price">price</div>
                <div class="home-add-cart"> <button>Add to cart</button></div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="home-product-list">
                <div class="home-product-img">Image</div>
                <div class="home-product-name">Mobile</div>
                <div class="home-product-price">price</div>
                <div class="home-add-cart"> <button>Add to cart</button></div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="home-product-list">
                <div class="home-product-img">Image</div>
                <div class="home-product-name">Mobile</div>
                <div class="home-product-price">price</div>
                <div class="home-add-cart"> <button>Add to cart</button></div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="home-product-list">
                <div class="home-product-img">Image</div>
                <div class="home-product-name">Mobile</div>
                <div class="home-product-price">price</div>
                <div class="home-add-cart"> <button>Add to cart</button></div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="home-product-list">
                <div class="home-product-img">Image</div>
                <div class="home-product-name">Mobile</div>
                <div class="home-product-price">price</div>
                <div class="home-add-cart"> <button>Add to cart</button></div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="home-product-list">
                <div class="home-product-img">Image</div>
                <div class="home-product-name">Mobile</div>
                <div class="home-product-price">price</div>
                <div class="home-add-cart"> <button>Add to cart</button></div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="home-product-list">
                <div class="home-product-img">Image</div>
                <div class="home-product-name">Mobile</div>
                <div class="home-product-price">price</div>
                <div class="home-add-cart"> <button>Add to cart</button></div>
            </div>
        </div>
        <!--  -->
    </div>
</div>