<!-- this component is created f=to display search result on navbar -->
<div class="sidebar">
    <!-- <ul *ngFor="let list of product_list">
        <li> {{list.category}}
        </li>
    </ul> -->
    <h4>Filters</h4>
</div>
<div class="product-container">
    <div class="product-list" *ngFor="let list of display_search_product_results">
        <div class="product-img">
            <a routerLink="/details/{{list.id}}"><img src="{{list.image}}" alt=""></a>
        </div>
        <div class="product-name"><a routerLink="/details/{{list.id}}">{{list.productname}}</a> </div>
        <div class="product-price">{{list.price}} </div>
        <div class="action ">
            <div><a routerLink="/details/{{list.id}}">View Details</a></div>
            <div><a>Add to cart</a></div>


        </div>

    </div>
</div>