<!-- this component is created f=to display search result on navbar -->
<div class="sidebar">
    <!-- <ul *ngFor="let list of product_list">
        <li> {{list.category}}
        </li>
    </ul> -->
    <h4>Filters</h4>
</div>
<div class="product-container">
    <div class="product-list" *ngFor="let list of display_search_product_results">
        <div class="img">
            Image </div>
        <div class="product-name">{{list.productname}} </div>
        <div class="product-price">{{list.price}} </div>
        <div class="action ">
            <button>
                <a class="add-cart"> Add to cart</a>

            </button>

        </div>

    </div>
</div>